.flex-container-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.grid {
  display: grid;
  width: 90vw;
  grid-template-columns: 100%;
  grid-row-gap: 1.5rem;
}

.display-content {
  display: contents;
}

.justify-content-center {
  display: flex;
  justify-content: center;
}

a {
  cursor: pointer;
}

input {
  border: none;
  background-color: rgba($color: #FFFFFF, $alpha: 0.8);
  height: 3rem;
  border-radius: 100rem;
  padding-left: 1rem;
  font-size: medium;
  color: #404040;
}

#switch-login-button, #switch-register-button, #login-button, #register-button {
  width: 90vw;
  height: 3rem;
  margin-bottom: 1rem;
  border-radius: 100rem;
  border: 1px solid white;
}

#switch-login-button {
  background-color: rgba($color: #FFFFFF, $alpha: 0.8);
}

#switch-login-button {
  color: black;
}
