<div class="flex-container-center">
  <div class="grid">
    <form class="display-content" *ngIf="showLoginForm" [formGroup]="loginForm" (ngSubmit)="login()" id="login-form">
      <h2 class="justify-content-center">Login</h2>
      <input id="email-input" placeholder="Email-Adresse" formControlName="email" />
      <input id="password-input" placeholder="Passwort" type="password" formControlName="password" />
      <button id="login-button" type="submit">Submit</button>
    </form>
    <form class="display-content" *ngIf="showRegisterForm" [formGroup]="registerForm" id="register-form"
      (ngSubmit)="register()">
      <h2 class="justify-content-center">Registrieren</h2>
      <input id="register-email-input" placeholder="Email-Adresse" formControlName="email" />
      <input id="register-password-input" type="password" formControlName="password" placeholder="Passwort" />
      <button id="register-button" type="submit">Register</button>
    </form>
    <button *ngIf="!showLoginForm && !showRegisterForm" id="switch-login-button" (click)="showLoginForm = true">
      Login
    </button>
    <button *ngIf="!showRegisterForm && !showLoginForm" id="switch-register-button" (click)="showRegisterForm = true">
      Registrieren
    </button>
  </div>
</div>